{% extends "base.html" %}

{% block content %}
{% if nst %}
<h2>Oops!</h2>
<h3>Did you mean one of these states?</h3>
<ul>
	{% for state in nst %}
	<li><a href="{{ state.get_absolute_url }}">{{ state.name }}</a></li>
    {% endfor %}
</ul>
{% endif %}

{% if nc %}
<h2>Oops!</h2>
<h3>Did you mean one of these cities in {{ state.name }}?</h3>
<ul>
	{% for city in nc %}
	<li><a href="{{ city.get_city_url }}">{{ city.name|title }}</a></li>
    {% endfor %}
</ul>
{% endif %}

{% if city %}
<h3>{{ city.name|title }}, {{ city.state.id }}</h3>

<h4>List of Schools</h4>
<ul>
    {% for school in school_list %}
    <li><a href="{{ school.get_absolute_url }}">{{ school.name }}</a> ({{ school.players }})</li>
    {% endfor %}
</ul>

<h4>Top Colleges for Players from {{ city.name|title }}</h4>


{% endif %}

{% endblock %}