{% extends "base.html" %}

{% block content %}

<h3>{{ player.full_name }}</h3>

{{ player.position.name }} from {{ player.home_state }} (<a href="/recruits/states/{{ player.home_state.id|lower }}/{{ player.position.abbrev|lower }}/">see more</a>)<br />
{{ player.height }}, {{ player.weight }}

<h4>Schools</h4>
{% for school in player.school.all %}
<table>
  <tr>
      <td><a href="{{ school.get_absolute_url }}">{{ school.name }}</a> (<a href="{{ school.city.get_city_url }}">{{ school.city.name|title }}</a>, <a href="{{ school.city.state.get_absolute_url }}">{{ school.city.state.id }}</a>)</td>
  </tr>
{% endfor %}
</table>

<h4>Signings</h4>
{% for signing in player.signing_set.all %}
<table>
  <tr>
      <td><a href="{{ signing.school.get_absolute_url }}">{{ signing.school.name }}</a>: <a href="{{ signing.school.get_absolute_url }}{{ signing.year }}/">{{ signing.year }}</a>{% if signing.outcome %} ({{ signing.outcome.name }})</td>{% endif %}
  </tr>
{% endfor %}
</table>

{% endblock %}