{% extends "base.html" %}

{% block content %}

{% if nst %}
<h2>Oops!</h2>
<h3>Did you mean one of these states?</h3>
<ul>
	{% for state in nst %}
	<li><a href="{{ state.get_absolute_url }}">{{ state.name }}</a></li>
    {% endfor %}
</ul>
{% endif %}

{% if nc %}
<h2>Oops!</h2>
<h3>Did you mean one of these cities in {{ state.name }}?</h3>
<ul>
	{% for city in nc %}
	<li><a href="{{ city.get_city_url }}">{{ city.name|title }}</a></li>
    {% endfor %}
</ul>
{% endif %}

{% if ns %}
<h2>Oops!</h2>
<h3>Did you mean one of these schools in {{ city.name|title }}?</h3>
<ul>
    {% for school in ns %}
    <li><a href="{{ school.get_absolute_url }}">{{ school.name|title }}</a></li>
    {% endfor %}
</ul>
{% endif %}

{% if school %}
<h3>{{ school.name|title }}</h3>
<h4>{{ school.city.name|title }}, {{ school.city.state }}</h4>

Fumblerooski has {{ player_total }} player{{ player_total|pluralize }} from this school in the database:<br />

<table>
    <th>Player</th><th>Position</th><th>Signing</th><th>Year</th>
   {% for player in player_list %}
   <tr><td><a href="{{ player.get_absolute_url }}">{{ player }}</a></td><td><a href="{{ player.position.get_absolute_url }}">{{ player.position }}</a></td><td>{% if player.signing_set.all %}{% for signing in player.signing_set.all %}<a href="{{ signing.school.get_absolute_url }}">{{ signing.school }}</a></td><td><a href="{{ signing.school.get_absolute_url }}{{ signing.year }}/">{{ signing.year }}</td> {% endfor %}{% endif %}</tr>
{% endfor %}
</table>

<h4>Top Positions</h4>
<ul>
 {% for position in top_positions %}
 <li><a href="{{ position.get_absolute_url }}">{{ position.name }}</a> - <a href="{{ position.abbrev.lower }}/">{{ position.number }}</a></li>
 {% endfor %}
</ul>

<h4>Top Colleges</h4>
(Does not include signees who did not enroll)
<ul>
 {% for college in top_colleges %}
 <li><a href="{{ college.get_absolute_url }}">{{ college.name }}</a> - {{ college.number }}</li>
 {% endfor %}
</ul>

{% endif %}

{% endblock %}