{% extends "base.html" %}

{% block title %}Fumblerooski: {{ team.name }} Alumni in Coaching{% endblock %}

{% block content %}

<h3>{{ team.name }} Alumni Coaches</h3>

{% if coaches %}
<table>
  <th>Coach</th>
  <th>Graduation Year</th>
  <th>Current School</th>
  <th>Current Job</th>
  {% for coach in coaches %}
  <tr><td><a href="{{ coach.get_absolute_url }}">{{ coach.full_name }}</a></td><td>{% if coach.grad_year %}{{ coach.grad_year }}{% endif %}</td><td>{% if coach.current_school %}<a href="{{ coach.current_school.get_absolute_url }}">{{ coach.current_school }}</a>{% endif %}</td><td>{% if coach.current_job %}{{ coach.current_job }}{% endif %}</td></tr>
  {% endfor %}
</table>


{% endif %}

{% endblock %}