{% extends 'base.html' %}

{% block title %}Fumblerooski: {{ bowl.name }} Bowl Games{% endblock %}

{% block content %}

<h3>{{ bowl.name }}</h3>
<h4>{{ bowl.city }}</h4>

<h4>Game List</h4>
<table>
    <th>Date</th><th>Team</th><th>Team</th><th>Result</th>
    {% for game in game_list %}
    <tr><td>{{ game.date|date:"F d, Y" }}</a></td><td><a href="{{ game.team1.get_absolute_url }}">{{ game.team1.name }}</a></td><td><a href="{{ game.team2.get_absolute_url }}">{{ game.team2.name }}</a></td><td>{% if game.t1_result %}<a href="{{ game.get_absolute_url }}">{{ game.get_t1_result_display }}, {{ game.team1_score }}-{{ game.team2_score }}</a> {% if game.overtime %}{{ game.overtime }}{% endif %}{% else %}{% endif %}</td></tr>
    {% endfor %}
</table>

{% endblock %}
