{% extends 'base.html' %}

{% block title %}Fumblerooski: {{ season }} Bowl Games{% endblock %}

{% block content %}

<table>
    <th>Bowl</th><th>Date</th><th>Team</th><th>Team</th><th>Location</th><th>Result</th>
    {% for game in game_list %}
    <tr><td>{{ game.bowl_game.name }}</td><td>{{ game.date|date:"F d, Y" }}</a></td><td><a href="{{ game.team1.get_absolute_url }}">{{ game.team1.name }}</a></td><td><a href="{{ game.team2.get_absolute_url }}">{{ game.team2.name }}</a></td><td>{{ game.site }}</td><td>{% if game.t1_result %}<a href="{{ game.get_absolute_url }}">{{ game.get_t1_result_display }}, {{ game.team1_score }}-{{ game.team2_score }}</a> {% if game.overtime %}{{ game.overtime }}{% endif %}{% else %}{% endif %}</td></tr>
    {% endfor %}
</table>
{% endblock %}
