{% extends "base.html" %}

{% block content %}

<h3>{{ coach.name }}</h3>

{% if current_job %}
<h4>Current School: <a href="{{ current_job.college.get_absolute_url }}">{{ current_job.college.name }}</a></h4>
Start date: {{ current_job.start_date|date:"F d, Y" }}
{% endif %}

<h4>Alma Mater: {{ coach.alma_mater }}</h4>

{% if college_list %}
<h4>Previous Coaching Jobs</h4>
<ul>
    {% for school in college_list %}
    <li><a href="{{ school.college.get_absolute_url }}">{{ school.college.name }}</a>, {{ school.job.name }}, {% if school.start_date %}{{ school.start_date.year }}-{{ school.end_date.year }}{% else %}{{ school.start_year }}-{{ school.end_year }}{% endif %}</li>
    {% endfor %}
</ul>
{% else %}
{% endif %}
{% endblock %}