{% extends "base.html" %}

{% block content %}

<h2>{{ team.name }} First Down Statistics</h2>

<strong>Most first downs in a game:</strong> {{ most.first_downs_total }} (vs. {{ most.opponent }}, {{ most.game.date|date:"N d, Y" }})<br />
<strong>Least first downs in a game:</strong> {{ least.first_downs_total }} (vs. {{ least.opponent }}, {{ least.game.date|date:"N d, Y" }})

<h4><a href="rushing/">Rushing</a> | <a href="passing/">Passing</a> | <a href="penalty/">Penalty</a></h4>


<table>
  <th>Season</th><th>Date</th><th>Opponent</th><th>Outcome</th><th>First Downs</th><th>Pct. Rushing</th>
  
  {% for offense in offense_list %}
  <tr><td>{{ offense.game.season }}</td><td>{{ offense.game.date|date:"N d, Y" }}</td><td>{{ offense.game.team2 }}</td><td>{{ offense.game.get_t1_result_display }}, {{ offense.game.team1_score }}-{{ offense.game.team2_score }}</td><td>{{ offense.first_downs_total }}</td><td>{{ offense.rushing_first_downs_pct|floatformat }}</td></tr>
  {% endfor %}

</table>


{% endblock %}