{% extends "base.html" %}

{% block content %}

{% if games %}

<h3>{{ team_1.name }} vs. {{ team_2.name }}: {{ season }}</h3>
(<a href="../">See all games between these teams</a>)

<table>
  <th>Season</th><th>Date</th><th>Outcome</th><th>Location</th>
  {% for game in games %}
  <tr><td>{{ game.season }}</td><td>{{ game.date|date:"N d, Y" }}</td><td>{{ game.get_t1_result_display }}, {{ game.team1_score }}-{{ game.team2_score }}</td><td>{{ game.get_t1_game_type_display }} {% if game.site %}{{ game.site }}{% endif %}</td></tr>

{% if game.drivechart %}
<h4>NCAA Drive Chart</h4>

<img src="http://web1.ncaa.org/d1mfb/servlet/driveSummary.gif?acadyr={{ game.season }}&H={{ team_1.id }}&V={{ team_2.id }}&date={{ game.date|date:"d-b-y"|upper }}">

{% else %}
{% endif %}

{% endfor %}
</table>
{% else %}

No game could be found.

{% endif %}

{% endblock %}