{% extends "base.html" %}

{% load humanize %}
{% block content %}

{% if game %}

<h3><a href="{{ team_1.get_absolute_url }}">{{ team_1.name }}</a> vs. <a href="{{ team_2.get_absolute_url }}">{{ team_2.name }}</a>: {{ game.season }}</h3>

<table>
  <th>Season</th><th>Date</th><th>Outcome</th><th>Location</th>{% if game.attendance %}<th>Attendance</th>{% endif %}
  <tr><td>{{ game.season }}</td><td>{{ game.date|date:"N d, Y" }}</td><td>{{ game.get_t1_result_display }}, {{ game.team1_score }}-{{ game.team2_score }}</td><td>{{ game.get_t1_game_type_display }} {% if game.site %}({{ game.site }}){% endif %}</td>{% if game.attendance %}<td>{{ game.attendance|intcomma }}</td>{% endif %}</tr>

</table>


<div class="story first">
{% if offense %}

<h3>{{ team_1.name }} Offensive Stats</h3>

<ul>
  <li>First downs: {{ offense.first_downs_total }} ({{ offense.first_downs_rushing }} rushing, {{ offense.first_downs_passing }} passing, {{ offense.first_downs_penalty }} penalties)</li>
  <li>Third downs: {{ offense.third_down_conversions }}/{{ offense.third_down_attempts }}</li>
  <li>Fourth downs: {{ offense.fourth_down_conversions }}/{{ offense.fourth_down_attempts }}</li>
  <li>Rushing: {{ offense.rushes }} rushes for {{ offense.rush_net }} net yards and {{ offense.rush_touchdowns }} touchdowns.</li>
  <li>Passing: {{ offense.pass_completions }} of {{ offense.pass_attempts }} for {{ offense.pass_yards }} yards and {{ offense.pass_touchdowns }} touchdowns.</li>

</ul>

<h4>See <a href="{{ game.get_absolute_url }}drives/">drive details</a>.</h4>

{% endif %}

{% if player_rushing %}
<h3>{{ team_1.name }} Rushing</h3>
<table>
  <th>Player</th><th>Rushes</th><th>Net Yards</th><th>Long</th><th>Average</th><th>TD</th>
  {% for player in player_rushing %}
  <tr><td>{{ player.player.name }}</td><td>{{ player.rushes }}</td><td>{{ player.net }}</td><td>{{ player.long_yards }}</td><td>{{ player.average }}</td><td>{{ player.td }}</td></tr>
  {% endfor %}
</table>
{% endif %}

{% if player_passing %}
<h3>{{ team_1.name }} Passing</h3>
<table>
  <th>Player</th><th>Comp.-Att.</th><th>Yards</th><th>Int.</th><th>TD</th><th>Pass Eff.</th>
  {% for player in player_passing %}
  <tr><td>{{ player.player.name }}</td><td>{{ player.completions }}-{{ player.attempts }}</td><td>{{ player.yards }}</td><td>{{ player.interceptions }}</td><td>{{ player.td }}</td><td>{{ player.pass_efficiency }}</td></tr>
  {% endfor %}
</table>
{% endif %}

{% if player_receiving %}
<h3>{{ team_1.name }} Receiving</h3>
<table>
  <th>Player</th><th>Catches</th><th>Yards</th><th>Long</th><th>Average</th><th>TD</th>
  {% for player in player_receiving %}
  <tr><td>{{ player.player.name }}</td><td>{{ player.receptions }}</td><td>{{ player.yards }}</td><td>{{ player.long_yards }}</td><td>{{ player.average }}</td><td>{{ player.td }}</td></tr>
  {% endfor %}
</table>
{% endif %}
</div>

<div class="story">

{% if defense %}
<h3>{{ team_1.name }} Defensive Stats</h3>

<ul>
  <li>Interceptions: {{ defense.defensive_interceptions }} for {{ defense.defensive_interception_yards }} yards and {{ defense.defensive_interception_touchdowns }} touchdowns.</li>
  <li>Fumbles: {{ defense.fumbles_number }} for {{ defense.fumbles_yards }} yards and {{ defense.fumbles_touchdowns }} touchdowns.</li>
</ul>

{% endif %}
(<a href="{{ game.get_reverse_url }}">See {{ team_2.name }}'s stats</a> for this game, or <a href="{{ game.get_matchup_url }}">all games between these teams</a>.)

{% if player_tackles %}
<h3>{{ team_1.name }} Tackles</h3>
<table>
  <th>Player</th><th>Unassisted</th><th>Assisted</th><th>Total</th>
  {% for player in player_tackles %}
  <tr><td>{{ player.player.name }}</td><td>{{ player.unassisted_tackles }}</td><td>{{ player.assisted_tackles }}</td><td>{{ player.total_tackles }}</td></tr>
  {% endfor %}
</table>
{% endif %}

{% if player_tacklesloss %}
<h3>{{ team_1.name }} Tackles for Loss</h3>
<table>
  <th>Player</th><th>Tackles for Loss</th><th>Yards</th><th>Sacks</th><th>Sack Yards</th>
  {% for player in player_tacklesloss %}
  <tr><td>{{ player.player.name }}</td><td>{{ player.total_tackles_for_loss }}</td><td>{{ player.tackles_for_loss_yards }}</td><td>{{ player.total_sacks }}</td><td>{{ player.sack_yards }}</td></tr>
  {% endfor %}
</table>
{% endif %}

{% if player_passdefense %}
<h3>{{ team_1.name }} Pass Defense</h3>
<table>
  <th>Player</th><th>Interceptions</th><th>Int. Yards</th><th>TD</th><th>Pass Breakups</th>
  {% for player in player_passdefense %}
  <tr><td>{{ player.player.name }}</td><td>{{ player.interceptions }}</td><td>{{ player.interception_yards }}</td><td>{{ player.interception_td }}</td><td>{{ player.pass_breakups }}</td></tr>
  {% endfor %}
</table>
{% endif %}
</div>

</div>



{% else %}

No game could be found.

{% endif %}

{% endblock %}