{% extends "base.html" %}

{% load humanize %}
{% block content %}

{% if game %}

<h3><a href="{{ team_1.get_absolute_url }}">{{ team_1.name }}</a> vs. <a href="{{ team_2.get_absolute_url }}">{{ team_2.name }}</a>: {{ game.season }}</h3>

<table>
  <th>Season</th><th>Date</th><th>Outcome</th><th>Location</th>{% if game.attendance %}<th>Attendance</th>{% endif %}
  <tr><td>{{ game.season }}</td><td>{{ game.date|date:"N d, Y" }}</td><td>{{ game.get_t1_result_display }}, {{ game.team1_score }}-{{ game.team2_score }}</td><td>{{ game.get_t1_game_type_display }} {% if game.site %}({{ game.site }}){% endif %}</td>{% if game.attendance %}<td>{{ game.attendance|intcomma }}</td>{% endif %}</tr>

</table>


{% if offense %}
<div class="story first">

<h3>{{ team_1.name }} Offensive Stats</h3>

<ul>
  <li>First downs: {{ offense.first_downs_total }} ({{ offense.first_downs_rushing }} rushing, {{ offense.first_downs_passing }} passing, {{ offense.first_downs_penalty }} penalties)</li>
  <li>Third downs: {{ offense.third_down_conversions }}/{{ offense.third_down_attempts }}</li>
  <li>Fourth downs: {{ offense.fourth_down_conversions }}/{{ offense.fourth_down_attempts }}</li>
  <li>Rushing: {{ offense.rushes }} rushes for {{ offense.rush_net }} net yards and {{ offense.rush_touchdowns }} touchdowns.</li>
  <li>Passing: {{ offense.pass_completions }} of {{ offense.pass_attempts }} for {{ offense.pass_yards }} yards and {{ offense.pass_touchdowns }} touchdowns.</li>

</ul>
</div>
{% endif %}

<h4><a href="{{ game.get_absolute_url }}drives/">Drives</a></h4>


{% if defense %}
<div class="story">
<h3>{{ team_1.name }} Defensive Stats</h3>

<ul>
  <li>Interceptions: {{ defense.defensive_interceptions }} for {{ defense.defensive_interception_yards }} yards and {{ defense.defensive_interception_touchdowns }} touchdowns.</li>
  <li>Fumbles: {{ defense.fumbles_number }} for {{ defense.fumbles_yards }} yards and {{ defense.fumbles_touchdowns }} touchdowns.</li>
</ul>
</div>
{% endif %}

(<a href="{{ game.get_reverse_url }}">See {{ team_2.name }}'s stats</a> for this game, or <a href="{{ game.get_matchup_url }}">all games between these teams</a>.)

{% else %}

No game could be found.

{% endif %}

{% endblock %}