{% extends "base.html" %}
{% load humanize %}

{% block title %}Fumblerooski: {{ player.name }} - {{ year }}{% endblock %}

{% block content %}

<h3>{{ player.name }} #{{ player.number }}</h3>
<h4>{{ player.position.name }}/{{ player.get_status_display }}</h4>
<h4><a href="{{ team.get_absolute_url }}">{{ team.name }}</a> - {{ year }}</h4>
<h4>Games Played: {{ player.games_played }}</h4>

{% ifequal player.position.position_type 'O' %}

<h3>{{ year }} Offensive Game Stats</h3>

{% if passing %}
<h3>Passing Totals</h3>

<table>
  <th>Attempts</th><th>Completions</th><th>Yards</th><th>TDs</th><th>Int.</th><th>Efficiency</th>
  <tr><td>{{ pass_tot_attempts }}</td><td>{{ pass_tot_comps }}</td><td>{{ pass_tot_yards|intcomma }}</td><td>{{ pass_tot_td }}</td><td>{{ pass_tot_int }}</td><td>{{ pass_tot_eff|floatformat }}</td></tr>
</table>

<h3>Passing By Game</h3>
<table>
  <th>Date</th><th>Opponent</th><th>Outcome</th><th>Passing</th><th>Int.</th><th>TD</th><th>Pass Eff.</th>
{% for game in passing %}
  <tr><td>{{ game.game.date|date:"N d, Y" }}</td><td>{{ game.game.team2 }}</td><td>{{ game.game.get_t1_result_display }}, {{ game.game.team1_score }}-{{ game.game.team2_score }}</td><td>{{ game.comp_att }} for {{ game.yards }} yards</td><td>{{ game.interceptions }}</td><td>{{ game.td }}</td><td>{{ game.pass_efficiency }}</td></tr>

{% endfor %}
</table>

{% endif %}

{% if rushing %}
<h3>Rushing</h3>
<table>
  <th>Date</th><th>Opponent</th><th>Outcome</th><th>Rushes</th><th>Gain</th><th>Loss</th><th>Net Yards</th><th>TD</th><th>Long</th><th>Avg.</th>
{% for game in rushing %}
  <tr><td>{{ game.game.date|date:"N d, Y" }}</td><td>{{ game.game.team2 }}</td><td>{{ game.game.get_t1_result_display }}, {{ game.game.team1_score }}-{{ game.game.team2_score }}</td><td>{{ game.rushes }}</td><td>{{ game.gain }}</td><td>{{ game.loss }}</td><td>{{ game.net }}</td><td>{{ game.td }}</td><td>{{ game.long_yards }}</td><td>{{ game.average }}</td></tr>

{% endfor %}

</table>

{% endif %}

{% if receiving %}
<h3>Receiving</h3>
<table>
  <th>Date</th><th>Opponent</th><th>Outcome</th><th>Receptions</th><th>Yards</th><th>TD</th><th>Long</th><th>Avg.</th>
{% for game in receiving %}
  <tr><td>{{ game.game.date|date:"N d, Y" }}</td><td>{{ game.game.team2 }}</td><td>{{ game.game.get_t1_result_display }}, {{ game.game.team1_score }}-{{ game.game.team2_score }}</td><td>{{ game.receptions }}</td><td>{{ game.yards }}</td><td>{{ game.td }}</td><td>{{ game.long_yards }}</td><td>{{ game.average }}</td></tr>

{% endfor %}

</table>

{% endif %}



{% endifequal %}

{% if other_seasons %}
<h4>Other Seasons for this player at this school</h4>
{% for season in other_seasons %}
  <a href="{{ season.get_absolute_url }}">{{ season.year }}</a> {% if forloop.last %}{% else %}|{% endif %}

{% endfor %}

{% endif %}



{% endblock %}