{% extends "base.html" %}

{% block content %}

<h3>{{ player.name }} #{{ player.number }}</h3>
<h4>{{ player.position.name }}/{{ player.get_status_display }}</h4>
<h4><a href="{{ team.get_absolute_url }}">{{ team.name }}</a> - {{ year }}</h4>
<h4>Games Played: {{ player.games_played }}</h4>

{% if other_seasons %}
<h4>Other Seasons for this player at this school</h4>
{% for season in other_seasons %}
  <a href="{{ season.get_absolute_url }}">{{ season.year }}</a>

{% endfor %}

{% endif %}

{% ifequal player.position.position_type 'O' %}

<h4>{{ year }} Offensive Game Stats</h4>

{% if passing %}
{% for game in passing %}
<table>
  <th>Date</th><th>Opponent</th><th>Outcome</th><th>Passing</th><th>Yards</th><th>Int.</th><th>TD</th><th>Pass Eff.</th>
  <tr><td>{{ game.game.date|date:"N d, Y" }}</td><td>{{ game.game.team_2 }}</td><td>{{ game.get_t1_result_display }}, {{ game.team1_score }}-{{ game.team2_score }}</td><td>{{ game.comp_att }}</td><td>{{ game.yards }}</td><td>{{ game.interceptions }}</td><td>{{ game.td }}</td><td>{{ game.pass_efficiency }}</td></tr>

</table>

{% endif %}


{% endifequal %}

{% endblock %}