{% extends "base.html" %}
{% load humanize %}

{% block content %}
<h3>Games for Week {{ week.week_num }}, {{ season }}</h3>

<table>
    <th>Date</th><th>Team</th><th>Opponent</th><th>Location</th><th>Result</th>
    {% for game in games %}
    <tr><td>{{ game.date|date:"F d, Y" }}</a></td><td><a href="{{ game.team1.get_absolute_url }}">{{ game.team1.college.name }}</a> {{ game.team1.record }}</td><td>{% if game.team2.college.updated %}<a href="{{ game.team2.get_absolute_url }}">{% endif %}{{ game.team2.college.name }}{% if game.team2.college.updated %}</a> {{ game.team2.record }}{% endif %}</td><td>{{ game.get_t1_game_type_display }}</td><td>{% if game.t1_result %}<a href="{{ game.get_absolute_url }}">{{ game.get_t1_result_display }}, {{ game.team1_score }}-{{ game.team2_score }}</a>{% else %}{% endif %}</td></tr>
    {% endfor %}
</table>

{% endblock %}