{% extends 'base.html' %}

{% block title %}Fumblerooski: {{ team.name }}{% endblock %}

{% block content %}

<h1>{{ team.name }}</h1>
<h5>{{ team.conference.name }}</h5>

{% if coach %}
Coach: <a href="{{ coach.coach.get_absolute_url }}">{{ coach.coach.name }}</a>
{% else %}
{% endif %}

<h3>Season Records Since 1988</h3>
<table>
    <th>Season</th><th>Wins</th><th>Losses</th><th>Ties*</th>
    {% for season in college_years %}
    <tr><td><a href="{{ season.year }}/">{{ season.year }}</a></td><td>{{ season.wins }}</td><td>{{ season.losses }}</td><td>{{ season.ties }}</td></tr>
    {% endfor %}
</table>
* Ties were eliminated beginning in 1996.

<h3>Popular Opponents Since 1988</h3>
<ul>
{% for team2 in popular_opponents %}
   <li><a href="{{ team2.get_absolute_url }}">{{ team2.name }}</a> (<a href="/college/teams/{{ team.slug }}/vs/{{ team2.slug }}/">{{ team2.number }}</a>)</li>
{% endfor %}
</ul>
 (<a href="opponents/">Browse all opponents since 1988</a>)

{% endblock %}
