{% extends 'base.html' %}

{% load humanize %}

{% block title %}Fumblerooski: {{ season_record.college.name }} {{ season_record.year }} Rankings{% endblock %}

{% block content %}

<h3>{{ season_record.college.name }}</h3>
<h5>{{ season_record.college.conference.name }}</h5>

<h4>Season Record: {{ season_record.wins }}-{{ season_record.losses }}{% ifnotequal season_record.ties 0 %}-{{ season_record.ties }}{% endifnotequal %} {% if season_record.conference %}({{ season_record.conference_wins }}-{{ season_record.conference_losses }} conference){% endif %}</h4>

<h3>Latest Week: {{ latest_week.week_num }} (through {{ latest_week.end_date|date:"F d, Y" }})</h3>

<h5>Other Weeks:</h5>
{% for week in other_weeks %}
<a href="{{ season_record.get_absolute_url }}rankings/week/{{ week.week_num }}/">{{ week.week_num }}</a> {% if forloop.last %}{% else %}|{% endif %} 
{% endfor %}

<h4>Best Category: {{ best.ranking_type.name }} - {{ best.rank|ordinal }}</h4>
<h4>Worst Category: {{ worst.ranking_type.name }} - {{ worst.rank|ordinal }}</h4>

<table>
    <th>Category</th><th>Overall Rank</th><th>Actual</th><th>Conference Rank</th>
    {% for ranking in latest_rankings %}
    <tr><td>{{ ranking.ranking_type.name }}</a></td><td>{{ ranking.rank|ordinal }}{% if is_tied %} (T){% endif %}</td><td>{{ ranking.actual }}</td><td>{{ ranking.conference_rank|ordinal }}{% if is_conf_tied %} (T){% endif %}</td></tr>
    {% endfor %}
</table>

<h3>More Rankings</h3>
{% endblock %}
