{% extends 'base.html' %}

{% block title %}Fumblerooski: {{ team.name }} {{ season }}{% endblock %}

{% block content %}

<h2>{{ team.name }}</h2>
{% if season_record.conference %}
<h3><a href="{{ season_record.get_conference_url }}">{{ season_record.conference.name }}</a></h3>
{% endif %}

{% if coach %}
Head Coach: 
<a href="{{ coach.coach.get_absolute_url }}">{{ coach.coach.full_name }}</a> {% if coach.end_date %} through {{ coach.end_date|date:"F d, Y" }}{% endif %}<br />
{% else %}
{% endif %}

<h3>Season Record: {{ season_record.wins }}-{{ season_record.losses }}{% ifnotequal season_record.ties 0 %}-{{ season_record.ties }}{% endifnotequal %} {% if season_record.conference %}({{ season_record.conference_wins }}-{{ season_record.conference_losses }} conference){% endif %}</h3>
<table>
    <th>Date</th><th>Opponent</th><th>Location</th><th>Result</th>
    {% for game in game_list %}
    <tr><td>{{ game.date|date:"F d, Y" }}</a></td><td><a href="{{ game.team2.get_absolute_url }}">{{ game.team2.name }}</a></td><td>{{ game.get_t1_game_type_display }}</td><td>{% if game.t1_result %}<a href="{{ game.get_absolute_url }}">{{ game.get_t1_result_display }}, {{ game.team1_score }}-{{ game.team2_score }}</a> {% if game.overtime %}{{ game.overtime }}{% endif %}{% else %}{% endif %}</td></tr>
    {% endfor %}
</table>
<h3><a href="rankings/">Current Rankings</a></h3>
<h3><a href="players/">{{ season }} Roster</a></h3>
{% endblock %}
