{% extends "base.html" %}

{% block title %}Fumblerooski: Active Head Coaches{% endblock %}

{% block content %}

<h3>Active Head Coaches - {{ season }}</h3>

<table>
  <th>Coach</th><th>School</th><th>Hire Date</th>
  {% for coach in active_coaches %}
  <tr><td><a href="{{ coach.coach.get_absolute_url }}">{{ coach.coach.full_name }}</a></td><td><a href="{{ coach.collegeyear.college.get_absolute_url }}">{{ coach.collegeyear.college.name }}</a></td><td>{% if coach.coach.current_job %}{{ coach.coach.current_job.start_date|date:"F d, Y" }}{% endif %}</td></tr>
  {% endfor %}
</table>

{% endblock %}