{% extends "base.html" %}

{% block title %}Fumblerooski: Assistant Coaches{% endblock %}

{% block content %}

{% if recent_departures %}
<h3>Recent Departures</h3>

<table>
  <th>Coach</th><th>School</th><th>Job(s)</th><th>End Date</th>
  {% for coach in recent_departures %}
  <tr><td><a href="{{ coach.coach.get_absolute_url }}">{{ coach.coach.full_name }}</a></td><td><a href="{{ coach.collegeyear.college.get_absolute_url }}">{{ coach.collegeyear.college.name }}</a></td><td>{{ coach.jobs_display }}</td><td>{{ coach.end_date|date:"F d, Y" }}</td></tr>
  {% endfor %}
</table>
{% endif %}

<h3>Recent Hires</h3>

<table>
  <th>Coach</th><th>School</th><th>Job(s)</th><th>Hire Date</th>
  {% for coach in recent_hires %}
  <tr><td><a href="{{ coach.coach.get_absolute_url }}">{{ coach.coach.full_name }}</a></td><td><a href="{{ coach.collegeyear.college.get_absolute_url }}">{{ coach.collegeyear.college.name }}</a></td><td>{{ coach.jobs_display }}</td><td>{% if coach.coach.current_job %}{{ coach.coach.current_job.start_date|date:"F d, Y" }}{% endif %}</td></tr>
  {% endfor %}
</table>

{% endblock %}