{% extends "base.html" %}

{% block content %}

<h3>{{ coach.full_name }}</h3>

{% if coach.current_job %}
<h4>Current School: <a href="{{ coach.current_job.collegeyear.college.get_absolute_url }}">{{ coach.current_job.collegeyear.college.name }}</a></h4>
Start date: {{ coach.current_job.start_date|date:"F d, Y" }}
{% endif %}

<h4>Alma Mater: {{ coach.alma_mater }}</h4>

{% if college_list %}
<h3>College Coaching History (2000-present)</h3>
<table>
  <th>School</th><th>Job(s)</th><th>Season</th><th>Record</th><th>Start Date</th><th>End Date</th>
    {% for school in college_list %}
    <tr><td><a href="{{ school.collegeyear.college.get_absolute_url }}">{{ school.collegeyear.college.name }}</a></td><td>{{ school.jobs_display }}</td><td>{{ school.collegeyear.year }}</td><td>{{ school.collegeyear.record }}</td><td>{{ school.start_date|date:"F d, Y" }}</td><td>{{ school.end_date|date:"F d, Y" }}</td></tr>
    {% endfor %}
</table>
{% else %}
{% endif %}
{% endblock %}