{% extends "base.html" %}

{% block title %}Fumblerooski: {{ coach.full_name }} vs. {{ coach2.full_name }}{% endblock %}

{% block content %}

{% if game_list %}

<h3><a href="{{ coach.get_absolute_url }}">{{ coach.full_name }}</a> vs. <a href="{{ coach2.get_absolute_url }}">{{ coach2.full_name }}</a></h3>

<h4>Record against {{ coach2.full_name }} since 2000: <a href="wins/">{{ wins }}</a>-<a href="losses/">{{ losses }}</a>{% ifnotequal ties 0 %}-<a href="ties/">{{ ties }}</a>{% endifnotequal %}</h4>

{% if last_home_loss %}Last home loss against {{ coach2.full_name }}: {{ last_home_loss.date|date:"F d, Y" }}<br />{% endif %}
{% if last_road_win %}Last road win against {{ coach2.full_name }}: {{ last_road_win.date|date:"F d, Y" }}{% endif %}

<table>
  <th>Season</th><th>Outcome</th><th>Location</th>
  {% for game in game_list %}
  <tr><td><a href="{{ team_1.get_absolute_url }}{{ game.season }}/">{{ game.season }}</a></td><td>{% if game.t1_result %}{{ game.get_t1_result_display }}, {{ game.team1_score }}-{{ game.team2_score }} (<a href="{{ game.get_absolute_url }}">see details</a>){% else %}{{ game.date|date:"F d, Y" }}{% endif %}</td><td>{% ifequal game.t1_game_type 'N' %}{{ game.site }}{% else %}{{ game.get_t1_game_type_display }}{% endifequal %}</td></tr>
  {% endfor %}
</table>

{% else %}

{{ coach.full_name }} has not coached against {{ coach2.full_name }}

{% endif %}

{% endblock %}